@{
    @using Solinor.MonthlyWageCalculation.WebApp.Controllers;
    @using Solinor.MonthlyWageCalculation.WebApp.ViewModels;
    ViewData["Title"] = "Home Page";

    var personnelWages = ViewData["PersonnelWages"] as List<PersonViewModel>;
}

@foreach (var person in personnelWages)
{
    <table class="table">
        <thead>
            <tr>
                <th><p>Id</p></th>
                <th><p>Name</p></th>
            </tr>
        </thead>
        <tr>
            <td><p>@person.Id</p></td>
            <td><p>@person.Name</p></td>
        </tr>
    </table>
    @foreach (var monthlyWage in @person.MonthlyWages)
    {
        <table class="table">
            <thead>
                <tr>
                    <th><p>Wage slip</p></th>
                    <th><p>Total regular hours</p></th>
                    <th><p>Total evening hours</p></th>
                    <th><p>Total overtime hours</p></th>
                    <th><p>Total hours</p></th>
                    <th><p>Total pay</p></th>
                </tr>
            </thead>
            <tr>
                <td><p>@monthlyWage.Date.ToString("MMMM")</p></td>
                <td><p>@monthlyWage.TotalRegularHours</p></td>
                <td><p>@monthlyWage.TotalEveningHours</p></td>
                <td><p>@monthlyWage.TotalOvertimeHours</p></td>
                <td><p>@monthlyWage.TotalHours</p></td>
                <td><p>$@monthlyWage.TotalPayRounded</p></td>
            </tr>
        </table>        
            <table class="table">
            <thead>
                <tr>
                    <th><p>Day</p></th>
                    <th><p>Description</p></th>
                    <th><p>Hours</p></th>
                    <th><p>Payment</p></th>
                </tr>
            </thead>
        @foreach(var paymentEntry in @monthlyWage.PaymentEntries)
        {           
            <tr>
                <td><p> @paymentEntry.Date.ToString("MM-dd")</p></td>
                <td><p> @paymentEntry.Description </p></td>
                <td><p> @paymentEntry.HoursRounded </p></td>
                <td><p> @paymentEntry.Currency@paymentEntry.PaymentRounded</p></td>
            </tr>
        }                
        </table>     
    }
    <hr>
    <hr>
    <hr>
}
